<h1>Delete snippet</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
    </label>
    <textarea type="text" rows="15" cols="50"class="form-control" id="deleteDescriptionInput" 
      disabled ><%= viewData?.description %></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" autofocus="autofocus">Delete</button>
  </div>
</form>