<h1>Update snippet</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/update">
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
    </label>
    <textarea type="text" cols="40" rows="15" class="form-control" id="UpdateDescriptionInput" name="description"
      placeholder="Update snippet here" required="required"
      autofocus="autofocus" ><%= viewData?.description %></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>