<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      The CRUD application with snippets!
    </h1>
    
    <p>
      This is an example of an Express website handling persistent data.
    </p>
   
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-3">
      <h2>
        Create
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">
          View details »
        </a>
      </p>
    </div>
    <div class="col-md-3">
      <h2>
        Read
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">
          View details »
        </a>
      </p>
    </div>
    <div class="col-md-3">
      <h2>
        Update
      </h2>
      <p>
        Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">
          View details »
        </a>
      </p>
    </div>
    <div class="col-md-3">
      <h2>
        Delete
      </h2>
      <p>
        Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">
          View details »
        </a>
      </p>
    </div>
  </div>
  <hr />
  <div>
    <form class="row g-3" method="post" action="./users/login"></form>
    <input type="text" class="form-control" id="usernameInput" name="username"
    placeholder="Enter username" required="required" autofocus="autofocus" />
    <input type="text" class="form-control" id="passwordInput" name="password"
    placeholder="Password" required="required" autofocus="autofocus" />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  </div>
  
</div>

<!-- /container -->