<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Welcome to the CRUD application with snippets!
    </h1>
    
    <p>
      This website allows you to save all your valuble snippets.
    </p>
   
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>
        Create
      </h2>
      <p>
       Create a new snippet and save it.
      </p>
      
    </div>
    <div class="col-md-3">
      <h2>
        Read
      </h2>
      <p>
        Get inspired by snippets from all users.
      </p>
     
    </div>
    <div class="col-md-3">
      <h2>
        Update
      </h2>
      <p>
        Update your snippets and make them perfect.
      </p>
      
    </div>
    <div class="col-md-3">
      <h2>
        Delete
      </h2>
      <p>
        If you find them to be not so perfect you can delete them.
      </p>
    
    </div>
  </div>
  <hr />
  <br/>
  <p>To start creating snippets please login. If you are not a member yet you can create a new member here: </p>
  <br/>
  <a href="/users/login">Go to login page</a>

  
  
</div>

